<!DOCTYPE html>
<html lang="zh-CN" window-icon="rice://template/img/App.ico" window-resizable="false">
<head>
    <meta charset="gb2312">
    <title></title>
    <style>
        @import url(css/index.css);
    </style>
</head>
<body>
<div class="json-main">
    <div id="json-content" class="json-content">
        <textarea id="json-input" autocomplete="off" placeholder="输入字符串......" autofocus></textarea>
    </div>
    <div class="json-btn">
        <a id="format_btn">格式化</a>
        <a id="compress_btn">压缩</a>
        <a id="decode_btn">URL解码</a>
    </div>
    <div id="Canvas" class="json-renderer">
        <pre id="json-renderer"></pre>
    </div>
</div>

</body>
<script src="js/zepto.min.js"></script>
<script src="js/jquery.json-viewer.js"></script>
<script src="js/index.js"></script>
</html>