* {
    margin: 0;
    padding: 0;
}
body {
    position: absolute;
    font-family: consolas;
}
.json-main{
    font-size: 0;
}
.json-content {
    width: 45%;
    height: 98%;
    margin: 10px 0 0 10px;
    display: inline-block;
    float: left;
}
.json-renderer {
    width: 45%;
    height: 98%;
    margin: 10px 10px 0 0;
    display: inline-block;
    float: right;
    border-radius: 3px;
    overflow-y:auto;
}
.json-btn{
    width: 8%;
    height: 98%;
    margin-top: 10px;
    display: inline-block;
}
.json-btn a {
    font-size: 16px;
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    padding: 7px 30px;
    background-color: #FF9800;
    cursor:pointer;
}
textarea {
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-radius: 3px;
    overflow-y:auto;
}
textarea:focus {
    outline: none !important;
    border: 1.5px solid #32CD32FF;
}
#Canvas {
    font:14px/18px 'consolas';
    background-color: #C7EDCC;
    color: #000000;
    border: solid 1px #CECECE;
}
pre{
    behavior:selectable;
}

pre.CodeContainer {
    margin-top: 0px;
    margin-bottom: 0px;
}
pre.TextContainer {
    margin-top: 0px;
    margin-bottom: 0px;
    word-break: break-all;
    white-space: normal;
}

.json-document {
    padding: 1em 2em;
}

ul.json-dict, ol.json-array {
    list-style-type: none;
    margin: 0 0 0 1px;
    border-left: 1px dotted #ccc;
    padding-left: 2em;
}
.json-property {
    color: #CC0000;
    font-weight: bold;
}

.json-string {
    color: #0B7500;
}
.json-literal {
    color: #1A01CC;
    font-weight: bold;
}

/* Toggle button */
a.json-toggle {
    position: relative;
    color: inherit;
    text-decoration: none;
}
a.json-toggle:focus {
    outline: none;
}
.json-toggle::before {
    font-size: 1.5em;
    color: #c0c0c0;
    content: "\25BC"; /* down arrow */
    display: inline-block;
    width: 1.1em;
    text-align: center;
    line-height: 1em;
    left: -1.2em;
}
a.json-toggle:hover::before {
    color: #aaa;
}
a.json-toggle.collapsed::before {
    transform: rotate(-90deg);
}

a.json-placeholder {
    color: #aaa;
    padding: 0 1em;
    text-decoration: none;
}
a.json-placeholder:hover {
    text-decoration: underline;
}